.about-container {
  text-align: center;
  padding: 20px;
}

.about-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 10px;
}

.about-subtitle {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 20px;
  font-style: italic;
}

.about-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-paragraph {
  font-size: 1.2em;
  color: #444;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.about-paragraph a {
  color: #007bff;
  text-decoration: none;
}

.about-paragraph a:hover {
  text-decoration: underline;
}

.about-header {
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 60px; /* Adjust the value as needed for desired spacing */
}
