.equipment-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.eq-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
